
@{
    ViewBag.Title = "Page Not Found";
}

<h2 class="text-danger">@ViewBag.Title</h2>
<div class="alert alert-danger" role="alert">
    <p class="text-danger">The page you are looking for cannot be found. Please check the URL.</p>
</div>

